
<div id='snaps'>
  <% @snaps.each do |snap| %>
	  <section class='snap'>
	  <p>Uploaded by <%= snap.user.username %></p>
	  <%= snap.description %> <br>
	  <a href=<%= show_detail_path(snap) %> id='snap-detail'> <%= image_tag snap.image.url(:medium) %>  </a> <br>
	  <a href='/charges/new'>Buy Snap</a>
	  </section>
  <% end %>
 </div>


  <%= will_paginate @snaps %>